[alias]
	pr = "!hub pull-request"
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
	delete-squashed = "!f() { local targetBranch=${1:-main} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"
	root = "rev-parse --show-toplevel"
[apply]
	whitespace = fix
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	trustctime = false
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	ignorecase = false
	sparseCheckout = false
	sshCommand = /Users/andrew.hawker/.git-helpers/git-ssh-ca-aurm
[credential]
	helper = /opt/homebrew/opt/bash/bin/bash /Users/andrew.hawker/.git-helpers/git-credential-okta-aurm --error --verbose -jq /opt/homebrew/bin/jq
	useHttpPath = true
[diff]
	renames = copies
[fetch]
	prune = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg]
	program = /opt/homebrew/bin/gpg
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
	default = current
[url "https://github.com/atko-cic/"]
	insteadOf = ssh://git@github.com/atko-cic/
[user]
	name = Andrew Hawker
	email = andrew.hawker@okta.com
	signingkey = 1FE46B1FF40DA0DB

[includeIf "gitdir:~/src/github.com/ahawker/**"]
    path = ~/.gitconfig.personal
